body {
    margin: 0;
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}

a, p, pre, span, h1, h2, h3, h4, h5, h6, header, main, footer {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    margin-top: 50px;
}

header .header_fon_img{
    width: 100%;
    height: auto;
}